.game-canvas {
  margin: auto;
  /*display: block;*/
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-color: white;
  border-style: solid;
  border-color: #333;
}

.hidden {
  display: none;
}

body {
  background: url('../images/mountain.jpeg') no-repeat center center fixed;
  background-size: cover;
}

#starter {
  width: 600px;
  height: 500px;
  z-index: 1;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-color: rgba(12, 20, 31, .7);
  text-align: center;
}

#starter h1 {
  margin-top: 50px;
  font-size: 50px;
  color: white;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

#logo {
  color: white;
  font-size: 55px;
  display: inline;
  font-family: 'Damion', cursive;
  text-shadow: 2px 2px #2C3539;
}

#skigif {
  margin-left: 20px;
  display: inline;
  width: 40px;
  text-shadow: 2px 2px #2C3539;
}

.logo-group {
  text-align: center;
}

#audio {
  position: absolute;
  text-align: center;
  bottom: 0;
  margin: 0 auto;
  width: 99%;
  height: 40px;
}
