.game-canvas {
  margin: auto;
  display: block;
  background-color: white;
}

body {
  background-image: url('../images/ski-free.jpg');
  background-size: cover;
  background-position: center;
}

#logo {
  text-align: center;
  color: white;
  font-size: 45px;
  display: inline;
}

#skigif {
  margin-left: 30px;
  display: inline;
}
